/* 全域設定 */

body {
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
